<div class="footer">
    <div class="left-container">
        <div class="newsletter">
            <p>SIGN UP FOR NEWSLETTER</p>
            <div style="display: flex;">
                <input type="text" placeholder="Enter your email...">
                <button>&#8594;</button>
            </div>
        </div>
        <div class="brand">
            <h3 class="brand-font">Sky Watch Systems</h3>
        </div>
    </div>
    <div class="right-container">
        <h2>Stay always informed with the latest weather updates, wherever you are!</h2>
    </div>
</div>
